@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* CSS for dark mode */
.dark-theme h1, .dark-theme h2:hover {
    color: rgb(255, 255, 255);  
}

.dark-theme .lead {
    text-align: center;
    color: #e7e7e7;
}

.dark-theme iframe {
    border: 1px solid rgb(255, 255, 255);
}

.dark-theme .navbar-nav .nav-link-scroll.active::after {
    background-color: #ffffff;
}

.dark-theme .btn {
    color: #ffff;
    border: solid #efefef 1px;
}

.dark-theme .btn-pink {
    color: #ffff;
    border: solid #efefef 1px;
}

.dark-theme .btn-pink:hover {
    background: -webkit-linear-gradient(rgb(225, 225, 225),rgb(211, 211, 211));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}