/* CSS for dark mode*/
.dark-theme iframe {
    border: 1px solid rgb(255, 255, 255);
}

.dark-theme .btn {
    color: #ffff;
    border: solid #efefef 1px;
}

.dark-theme .btn-pink {
    color: #ffff;
    border: solid #efefef 1px;
}

.dark-theme .btn-pink:hover {
    background: -webkit-linear-gradient(rgb(225, 225, 225),rgb(211, 211, 211));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

