---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <body class="font-winky overflow-wrap break-words">
    <Header />
    <Form />
  </body>
</html>
