---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <body class="font-winky text-zinc-950 overflow-wrap break-words bg-zinc-50 dark:bg-zinc-900 dark:text-zinc-50">
    <Header />
    <Form />
  </body>
</html>
