---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import EducationComponent from "../components/Education.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <body class="bg-zinc-100 font-winky text-zinc-700 overflow-wrap break-words">
    <Header />
    <EducationComponent />
  </body>
</html>
