---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <BaseHead
  />
  <body class="font-atkinson text-zinc-700 bg-gradient-to-b from-gray-light/50 to-white overflow-wrap break-words">
    <Header />
    <main class="w-full max-w-[750px] mx-auto px-4 sm:px-8 py-12">
      <img
        class="rounded-full w-24 mb-2"
        src="./iconCodeSlash.svg"
        alt="Icon Code Slash"
      />
      <h1 class="text-4xl font-bold mb-4 opacity-90">Hello, Client-side. <span class="text-zinc-800 text-4xl font-semibold">I'm Dariana</span></h1>
      <hr class="mt-6 mb-2">
      <p class="text-lg leading-relaxed opacity-80 mb-6">
        Welcome to my personal website. Explore my projects and learn more about me on different platforms. I'm a
        <a href="https://www.linkedin.com/in/daridjcm/" class="text-accent underline hover:text-accent-dark transition-colors">Developer Web</a> with a passion for building user-friendly and accessible websites. I'm excited to collaborate with you.
        
        For contact me, touch here.
        <div class="flex justify-start gap-5">
          <a href="./contact">
            <button class="bg-zinc-100 text-zinc-900 rounded px-7 py-1 shadow-md h-10 transition-all hover:bg-accentdark hover:text-zinc-50 flex items-center justify-center space-x-2">Contact
              <span class="icon-[ic--round-contact-phone] text-xl ml-2"></span>
            </button>
          </a>
          <div class="bg-zinc-100 text-2xl gap-2 p-2 h-10 rounded-md shadow-md">
            <a href="https://www.github.com/daridjcm" target="_blank">
              <span class="cursor-pointer icon-[line-md--github]"></span>
            </a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=darianadejesusmedina@gmail.com" target="_blank">
              <span class="cursor-pointer icon-[skill-icons--gmail-dark]"></span>
            </a>
            <a href="https://www.linkedin.com/in/daridjcm" target="_blank">
              <span class="cursor-pointer icon-[devicon--linkedin]"></span>
            </a>
            <a href="https://discord.gg/XZSuGbVyp7" target="_blank">
              <span class="cursor-pointer icon-[skill-icons--discord]"></span>
            </a>
          </div>
        </div>
        <section id="Skills">
          <p class="text-4xl text-center mt-16 mb-8">Skills</p>
          <div class="grid grid-cols-12 gap-10">
            <div class="col-span-12 md:col-span-12 xl:col-span-4">
              <p>Principal</p>
              <img src="https://skillicons.dev/icons?i=html,css,js,php,react,htmx,regex,git&perline=3">
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-4">
              <p>Secondary</p>
              <img src="https://skillicons.dev/icons?i=tailwind,windicss,sass,vite,bootstrap,nodejs,npm,bash,linux,ubuntu,githubactions&perline=4">
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-4">
              <p>Edition</p>
              <img src="https://skillicons.dev/icons?i=ae,ps,pr,au,ai,xd,figma,wordpress,notion&perline=3">
            </div>
          </div>
        </section> 
      </p>
    </main>
    <Footer />
  </body>
</html>
