---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="font-winky overflow-wrap break-words">
    <Header />
    <main class="w-full max-w-[800px] mx-auto px-4 sm:px-8 py-12">
      <section id="Home">
        <Home />
      </section>
      <section id="Skills">
        <Skills />
      </section>
    </main>
    <Footer />
  </body>
</html>
