---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import CardList from "../components/CardList.astro"
---

<!doctype html>
<html lang="en">
    <BaseHead />
    <body class="bg-zinc-100 font-atkinson text-zinc-700 bg-gradient-to-b from-gray-light/50 to-white overflow-wrap break-words">
        <Header />
        <CardList />
    </body>
</html>
