---
const today = new Date();
---

<footer class="p-10 bg-zinc-100 text-center">
	&copy; {today.getFullYear()} Daridjcm.
	<div class="flex justify-center gap-4 mt-4">
		<a class="text-gray-500 hover:text-gray-600" href="https://github.com/daridjcm/Portfolio" target="_blank" rel="noopener noreferrer"></a>
	</div>
</footer>