---

---
<h1 class="text-4xl text-center mt-10">Contact</h1>
<div class="flex flex-col gap-5 m-auto w-[350px] lg:w-[750px] md:w-[750px]">

  <form action="https://formsubmit.co/darianadejesusmedina@gmail.com" method="post">
    <label>
      Name:
      <input class="bg-zinc-100 w-full h-8 rounded" type="text" name="name" required />
    </label>
    <label>
      Email:
      <input class="bg-zinc-100 w-full h-8 rounded" type="email" name="email" required />
    </label>
    <label>
      Subject:
      <textarea class="bg-zinc-100 w-full h-16 rounded" name="subject"></textarea>
    </label>
    <button class="bg-zinc-100 text-zinc-900 rounded px-7 py-1 shadow-md h-8 transition-all hover:bg-accentdark hover:text-zinc-50 flex items-center justify-center space-x-2">Submit
      <span class="icon-[mdi--email-arrow-right] ml-2 size-5"></span>
    </button>
  </form>
</div>