<header class="m-0 p-0 px-4 bg-accentdark shadow-sm">
  <div class="flex items-center justify-between p-5">
    <nav class="flex-1 flex justify-center gap-3">
      <a class="px-2 py-2 text-accent border-b-4 border-transparent transition-colors transition-border duration-300 ease-in-out hover:border-accentdark" href="/">Home</a>
      <a class="px-2 py-2 text-accent border-b-4 border-transparent transition-colors transition-border duration-300 ease-in-out hover:border-accentdark" href="/projects">Projects</a>
      <a class="px-2 py-2 text-accent border-b-4 border-transparent transition-colors transition-border duration-300 ease-in-out hover:border-accentdark" href="/education">Education</a>
      <a class="px-2 py-2 text-accent border-b-4 border-transparent transition-colors transition-border duration-300 ease-in-out hover:border-accentdark" href="/contact">Contact</a>
    </nav>

    <div>
      <button class="bg-white rounded-md" id="theme-toggle">
        <span class="icon-[line-md--light-dark-loop] text-accent text-4xl"></span>
      </button>
    </div>
  </div>
</header>

<script> 

  document.addEventListener("DOMContentLoaded", () => {
    const html = document.documentElement;
    const icon = document.getElementById('theme-icon');
    const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');

    const applySystemTheme = () => {
      if (prefersDarkScheme.matches) {
        html.classList.add('dark');
      } else {
        html.classList.remove('dark');
      }
    };

    applySystemTheme();    
    prefersDarkScheme.addEventListener('change', applySystemTheme);

    const links = document.querySelectorAll("nav a");
    const currentPath = window.location.pathname;
    links.forEach((link) => {
      const href = link.getAttribute("href");
      if (href === currentPath) {
        link.classList.add("border-accent", "text-accent");
        link.classList.remove("border-transparent");
      } else {
        link.classList.remove("border-accent");
        link.classList.add("border-transparent");
      }
    });
  });
</script>