<header class="m-0 p-0 px-4 bg-white shadow-sm">
  <nav class="flex items-center justify-center p-5 gap-3 cursor-pointer">
    <a class="px-2 py-2 text-zinc-600 border-b-4 transition-all duration-100 hover:border-accentdark" href="/">Home</a>
    <a class="px-2 py-2 text-zinc-600 border-b-4 transition-all duration-100 hover:border-accentdark" href="/projects">Projects</a>
    <a class="px-2 py-2 text-zinc-600 border-b-4 transition-all duration-100 hover:border-accentdark" href="/contact">Contact</a>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll("a");
    const currentPath = window.location.pathname;

    links.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("border-accentdark", "text-accentdark");
      } else {
        link.classList.remove("border-accentdark", "text-accentdark");
      }
    });
  });
</script>
