<img
class="rounded-full w-24 mb-2"
src="./iconCodeSlash.svg"
alt="Icon Code Slash"
/>
<h1 class="text-4xl font-bold mb-4 opacity-90">Hello, Client-side. <span class="text-zinc-800 text-4xl font-semibold">I'm Dariana</span></h1>
<hr class="mt-6 mb-2">
<p class="text-lg leading-relaxed opacity-80 mb-6">
Welcome to my personal website. Explore my projects and learn more about me on different platforms. I'm a
<a href="https://www.linkedin.com/in/daridjcm/" class="text-accent underline hover:text-accent-dark transition-colors">Developer Web</a> with a passion for building user-friendly and accessible websites. I'm excited to collaborate with you.

For contact me, touch here.
<div class="flex justify-start gap-5">
  <a href="./contact">
    <button class="bg-zinc-100 text-zinc-900 rounded px-7 py-1 shadow-md h-10 transition-all hover:bg-accentdark hover:text-zinc-50 flex items-center justify-center space-x-2">Contact
      <span class="icon-[ic--round-contact-phone] text-xl ml-2"></span>
    </button>
  </a>
  <div class="bg-zinc-100 text-2xl gap-2 p-2 h-10 rounded-md shadow-md">
    <a href="https://www.github.com/daridjcm" target="_blank">
      <span class="cursor-pointer icon-[line-md--github]"></span>
    </a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=darianadejesusmedina@gmail.com" target="_blank">
      <span class="cursor-pointer icon-[skill-icons--gmail-light]"></span>
    </a>
    <a href="https://www.linkedin.com/in/daridjcm" target="_blank">
      <span class="cursor-pointer icon-[devicon--linkedin]"></span>
    </a>
    <a href="https://discord.gg/XZSuGbVyp7" target="_blank">
      <span class="cursor-pointer icon-[skill-icons--discord]"></span>
    </a>
  </div>
</div>
