---
import { Image } from "astro:assets";
import myAvatar from "../../public/avatar-dariana.png";
---

<Image
  src={myAvatar}
  alt="Recreated from the original by Dariana Medina for AI Art Generator style cyberpunk."
  class="rounded-full w-36 mb-2"
/>
<h1 class="text-4xl font-bold mb-4 opacity-90">Hello, Client-side. <span class="text-zinc-800 text-4xl font-semibold">I'm Dariana</span></h1>
<hr class="mt-6 mb-2">
<p class="text-lg leading-relaxed opacity-80 mb-6">
Welcome to my personal website. Explore my projects and learn more about me on different platforms. I'm a
<a href="https://www.linkedin.com/in/daridjcm/" class="text-accent underline hover:text-accent-dark transition-colors">Developer Web</a> with a passion for building user-friendly and accessible websites. I'm excited to collaborate with you.

For contact me, touch here.
<div class="flex justify-start gap-5">
  <a href="./contact">
    <button class="bg-zinc-100 text-zinc-900 rounded px-7 py-1 shadow-md h-10 transition-all hover:bg-accentdark hover:text-zinc-50 flex items-center justify-center space-x-2">Contact
      <span class="icon-[ic--round-contact-phone] text-xl ml-2"></span>
    </button>
  </a>
  <div class="text-4xl gap-2">
    <a href="https://www.github.com/daridjcm" target="_blank" aria-label="GitHub">
      <span class="cursor-pointer icon-[line-md--github-loop] text-black"></span>
    </a>
    <a href=`https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=${import.meta.env.EMAIL}` target="_blank" aria-label="gmail">
      <span class="cursor-pointer icon-[skill-icons--gmail-dark]"></span>
    </a>
    <a href="https://www.linkedin.com/in/daridjcm" target="_blank" aria-label="LinkedIn">
      <span class="cursor-pointer icon-[devicon--linkedin]"></span>
    </a>
  </div>
</div>
