<p class="text-4xl text-center mt-16 mb-8">Skills</p>
<div class="flex flex-row flex-wrap gap-x-12 gap-y-4 items-center justify-center text-center">
  <div class="mb-10">
    <p>Principal</p>
    <img class="m-auto" src="https://skillicons.dev/icons?i=html,css,js,php,react,git,nodejs,tailwind,vite&perline=6">
  </div>
  <div class="mb-10">
    <p>Secondary</p>
    <img class="m-auto" src="https://skillicons.dev/icons?i=htmx,regex,sass,bootstrap,npm,bash,linux,ubuntu,githubactions&perline=6">
  </div>
  <div class="mb-10">
    <p>Edition</p>
    <img class="m-auto" src="https://skillicons.dev/icons?i=ae,ps,pr,au,ai,xd,figma,wordpress,notion&perline=6">
  </div>
</div>
