<p class="text-4xl text-center mt-16 mb-8">Skills</p>
<div class="flex flex-row flex-wrap gap-x-12 gap-y-4 items-start justify-center text-center">
  <div class="flex-1 max-w-md mb-10">
    <p class="px-5 py-1 rounded-md text-2xl">Principal</p>
    <div class="flex flex-wrap justify-center gap-3 mt-3 text-pink text-5xl">
      <span class="icon-[simple-icons--html]" title="html"></span>
      <span class="icon-[simple-icons--css]" title="css"></span>
      <span class="icon-[simple-icons--javascript]" title="javascript"></span>
      <span class="icon-[simple-icons--typescript]" title="typescript"></span>
      <span class="icon-[simple-icons--php]" title="php"></span>
      <span class="icon-[simple-icons--git]" title="git"></span>
      <span class="icon-[simple-icons--nodedotjs]" title="nodedotjs"></span>
      <span class="icon-[simple-icons--mysql]" title="mysql"></span>
      <span class="icon-[simple-icons--gnubash]" title="gnubash"></span>
    </div>
  </div>
  <div class="flex-1 max-w-md mb-10">
    <p class="px-5 py-1 rounded-md text-2xl">Secondary</p>
    <div class="flex flex-wrap justify-center gap-3 mt-3 text-pink text-5xl">
      <span class="icon-[simple-icons--react]" title="react"></span>
      <span class="icon-[simple-icons--htmx]" title="htmx"></span>
      <span class="icon-[simple-icons--astro]" title="astro"></span>
      <span class="icon-[simple-icons--bootstrap]" title="bootstrap"></span>
      <span class="icon-[simple-icons--tailwindcss]" title="tailwindcss"></span>
      <span class="icon-[simple-icons--sass]" title="sass"></span>
      <span class="icon-[simple-icons--vite]" title="vite"></span>
      <span class="icon-[simple-icons--express]" title="express"></span>
      <span class="icon-[simple-icons--sequelize]" title="sequelize"></span>
      <span class="icon-[simple-icons--npm]" title="npm"></span>
      <span class="icon-[simple-icons--bun]" title="bun"></span>
      <span class="icon-[simple-icons--githubactions]" title="githubactions"></span>
      <span class="icon-[simple-icons--figma]" title="figma"></span>
      <span class="icon-[simple-icons--wordpress]" title="wordpress"></span>
    </div>
  </div>
</div>
