---
  import { Image } from "astro:assets";
  interface Skills {
    primary: string;
    secondary: string;
    edition: string;
  }

  const skills: Skills = {
    primary: "https://skillicons.dev/icons?i=html,css,js,ts,php,git,nodejs,mysql,regex,bash&perline=6",
    secondary: "https://skillicons.dev/icons?i=react,htmx,astro,bootstrap,tailwind,sass,vite,express,sequelize,npm,bun,githubactions&perline=6",
    edition: "https://skillicons.dev/icons?i=ae,ps,pr,au,ai,xd,figma,wordpress,notion&perline=6"
  }
---

<p class="text-4xl text-accentdark text-center mt-16 mb-8">Skills</p>
<div class="flex flex-row flex-wrap gap-x-12 gap-y-4 items-center justify-center text-center">
  <div class="mb-10">
    <p class="bg-accent text-accentdark px-5 py-1 rounded-md">Principal</p>
    <Image 
      src={skills.primary} 
      alt="Icons representing essential development skills like languages" 
      width={300}
      height={98}
      loading={"eager"}
      class:list="mt-3"
    />
  </div>
  <div class="mb-10">
    <p class="bg-accent text-accentdark px-5 py-1 rounded-md">Secondary</p>
    <Image 
      src={skills.secondary} 
      alt="Icons representing secondary development skills like frameworks" 
      width={300}
      height={98}
      loading={"eager"}
      class:list="mt-3"
    />
  </div>
  <div class="mb-10">
    <p class="bg-accent text-accentdark px-5 py-1 rounded-md">Edition</p>
    <Image 
      src={skills.edition} 
      alt="Icons representing editions of development" 
      width={300}
      height={98}
      loading={"eager"}
      class:list="mt-3"
    />
  </div>
</div>
