---
  interface Skills {
    primary: string;
    secondary: string;
    edition: string;
  }

  const skills: Skills = {
    primary: "https://skillicons.dev/icons?i=html,css,js,ts,php,git,nodejs,mysql,regex,bash&perline=6",
    secondary: "https://skillicons.dev/icons?i=react,htmx,astro,bootstrap,tailwind,sass,vite,express,sequelize,npm,bun,githubactions&perline=6",
    edition: "https://skillicons.dev/icons?i=ae,ps,pr,au,ai,xd,figma,wordpress,notion&perline=6"
  }
---

<p class="text-4xl text-center mt-16 mb-8">Skills</p>
<div class="flex flex-row flex-wrap gap-x-12 gap-y-4 items-center justify-center text-center">
  <div class="mb-10">
    <p>Principal</p>
    <img src={skills.primary} alt="Icons representing essential development skills like languages." class="m-auto" />
  </div>
  <div class="mb-10">
    <p>Secondary</p>
    <img class="m-auto" src={skills.secondary} alt="Icons representing secondary development skills like tools and frameworks." />
  </div>
  <div class="mb-10">
    <p>Edition</p>
    <img class="m-auto" src={skills.edition} alt="Icons representing skills in the edition." />
  </div>
</div>
